<div *ngIf="coin">

<h2>{{coin.name | uppercase}} Details</h2>
<div><span>id: </span>{{coin.id}}</div>
<div>
  <label for="coin-name">Coin name: </label>
  <input id="coin-name" [(ngModel)]="coin.name" placeholder="name">
  <br>
  <label for="coin-type">Coin type: </label>
  <input id="coin-type" [(ngModel)]="coin.type" placeholder="type">
  <br>
  <label for="coin-year">Coin year: </label>
  <input id="coin-year" [(ngModel)]="coin.year" placeholder="year">
  <br>
  <label for="coin-price">Coin price: </label>
  <input id="coin-price" [(ngModel)]="coin.price" placeholder="price">
  <br>
  <label for="coin-country">Coin country: </label>
  <input id="coin-country" [(ngModel)]="coin.country" placeholder="country">
  <br>
  <label for="coin-quantity">Coin quantity: </label>
  <input id="coin-quantity" [(ngModel)]="coin.quantity" placeholder="quantity">
</div>

</div>

<button (click)="goBack()">go back</button>

<button type="button" (click)="save()">save</button>