<h2>My Coins</h2>
<ul class="coins">
  <li *ngFor="let coin of coins">
    <button [class.selected]="coin === selectedCoin" type="button" (click)="onSelect(coin)">
      <span class="bullion">{{coin.id}}</span>
      <span class="name">{{coin.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedCoin">
  <h2>{{selectedCoin.name | uppercase}} Details</h2>
  <div>id: {{selectedCoin.id}}</div>
  <div>
    <label for="coin-name">Coin name: </label>
    <input id="coin-name" [(ngModel)]="selectedCoin.name" placeholder="name">
  </div>
</div>