<main class="container">
<div class="wishlist">
  <p class="lead">
    Call the Internal Database to Retrieve Wishlist
  </p>

  <table>
  <thead>
      <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Country</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of wishlist?.items">
          <td>{{item.name}}</td>
          <td>{{item.year}}</td>
          <td>{{item.country}}</td>
      </tr>
  </tbody>
</table>

  <a
    (click)="getWishlist()"
    class="get-wishlist"
    href="javascript:void(0)"
    role="button"
  >Get Wishlist</a>

</div>
</main>